<header>
  <h1 class="todoapp__title">todos</h1>
</header>

<section class="todo__title">
  <h2
    class="todo__title"
    style="font-weight: 600;"
  >
    What is Our ToDo Application?
  </h2>
  <p>
      Our ToDo application is a simple and user-friendly tool for managing your tasks. It allows you
      to create, edit, mark tasks as completed, and delete tasks, helping you to stay organized and productive.
  </p>
  <br>
  <h2
    class="todo__title"
    style="font-weight: 600;"
  >
    Features
  </h2>
  <ul>
      <li>Add new tasks</li>
      <li>Edit existing tasks</li>
      <li>Mark tasks as completed</li>
      <li>Delete completed or uncompleted tasks</li>
      <li>Filter tasks by status (completed, active)</li>
  </ul>
  <br>
  <p style="font-weight: 600;"
  >
      Developed by
      <a
        href="https://github.com/Orchibald/"
        target="_blank">Orchibald
      </a>
  </p>
</section>
